<!DOCTYPE html>
<html>
<head>
<meta charset = "utf-8">
<title>Preferences</title>
</head>
<body>
<form method="get" action="personalisation.php">
  <p>Veuillez choisir votre préférence de page:</p>
  <div>
    <input type="radio" id="Choice1"
     name="choice" value="voiture">
    <label for="choice1">voiture</label>

    <input type="radio" id="Choice2"
     name="choice" value="trajet">
    <label for="choice2">trajet</label>

    <input type="radio" id="Choice3"
     name="choice" value="utilisateur">
    <label for="Choice">utilisateur</label>
  </div>
  <div>
    <button type="submit">Envoyer</button>
  </div>
</form>
</body>
</html>